* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto Mono', monospace;
	min-height: 100vh;
	background: #1b1f23;	
	color: white;
}

body {
	width: 90vw;
		
	display: flex;
	justify-content: center;
	margin: auto;
	flex-direction: column;
}

header {
	width: 100%;
	height: 20vh;

	display: flex;
}

header h1 {
	text-align: center;
	margin: auto;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main p {
	text-align: center;
}

#add-url {
	width: 60vw;
	height: 4vh;
}

.botao {
	margin-top: 2rem;
	width: 20vw;
	height: 5vh;
	background: white;
	color: #1b1f23;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.botao p {
	margin: 0;
	font-size: clamp(0.7rem, 0.8rem, 1rem);
}

#images {
	width: 100%
}

/* Grid de imagens */
#row {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}

footer {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 20vh;
}
